# dependencies
/node_modules
/.pnpm-store

# next
/.next
/out

# collector
/dist-collector
/.local
/.release-artifacts
/src/generated/prisma
/graphify-out


# tests
/coverage
/playwright-report
/test-results

# misc
.DS_Store
*.log
*.tsbuildinfo

# env
.env*
!.env.example
