# dependencies
/node_modules

# next
/.next
/out

# collector
/dist-collector
/.local


# tests
/coverage
/playwright-report
/test-results

# misc
.DS_Store
*.log
*.tsbuildinfo

# env
.env*
!.env.example
